doctype html
html
  head
    meta(charset="UTF-8")
    title OTP Verification
    style.
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      h1 {
        color: #4CAF50;
        font-size: 32px;
      }
  body
    h2 Welcome to Raheeb!
    p Your OTP for verification is:
    h1 #{otp}
    p This OTP will expire in 15 minutes.
    p If you didn't request this, please ignore this email.
